

<div class="crawl-item">
    <img src="#"/>
    <div class="crawl-item__description">
        <div class="crawl-item__description-title">
            <h3><%=data.accountName%></h3>
        </div>
        <div class="crawl-item__description-numbers">
            <span>생성일자 : <%=data.createTime.toISOString().split('T')[0]%></span>
        </div>    
    </div>
</div>