// config
@import "./config/reset.css";
// components
@import "./components/header.scss";
// screens
@import "./screens/login.scss";
@import "./screens/layout.scss";
@import "./screens/list_data.scss";

// default
body {
  background-color: #777777;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
