// config
@import "./config/reset.css";
// components
@import "./components/header.scss";
@import "./components/crawlItem.scss";
// screens
@import "./screens/login.scss";
@import "./screens/layout.scss";
@import "./screens/list_data.scss";

// default
body {
  background-color: #777777;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width : 100%;
}
