// config
@import "./config/reset.css";
// components

// screens
@import "./screens/login.scss";

// default
body {
  padding: 30px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
