// config
@import "./config/reset.css";
// components
@import "./components/header.scss";
// screens
@import "./screens/login.scss";
@import "./screens/layout.scss";

// default
body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
