main{
    justify-content: center;
    .container-post_trend{
        width : 80%;
        height : 300px;
        border: solid 1px black;
        display: flex;

    }
    .container-post_datas{
        width: 80%;
        display : flex;
        justify-content: center;
        margin-top: 30px;
        table{
            width: 100%;
            thead{
                th{
                    border: 1px solid black;
                }
            }
            tbody{
                tr{
                    border: 1px solid black;
                    a{
                        text-decoration: none;
                        color : black;
                        display: flex;
                        max-width : 400px;
                        padding: 3px;
                        .post-item__img{
                            width: 80px;
                            img{
                                width: 80px;
                                height: 50px;
                                object-fit: cover;
                            }
                        }
                        .post-item__desc{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            margin-left: 10px;
                            div{
                                text-align: left;
                            }
                        }
                    }
                    td{
                        width : 7%;
                        border: 1px solid black;
                        vertical-align:middle;
                        .post-item__data{
                            display: flex;
                            height: 100%;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}