.url__submit-form{
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .crawldata-description{
        h4{
            font-size: 24px;
            color: rgb(187, 187, 187);
            font-weight: 600;
        }
        ul{
            margin-top: 10px;
        }
    }
    form{
        padding: 10px;
        margin-top : 30px;
        align-items: center;
    }
}
main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding : 50px;
}