section{
    margin-top: 50px;
    width : 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .crawldata-description{
        h4{
            font-size: 24px;
            color: rgb(187, 187, 187);
            font-weight: 600;
        }
        ul{
            margin-top: 10px;
        }
    }
    form{
        padding: 10px;
        margin-top : 30px;
        align-items: center;
    }
}