// #navigation_bar {
//   display: flex;
//   justify-content: space-between;
//   .menu_list {
//     padding-right: 20px;
//   }
// }
// .menu_list {
//   width: 80%;
//   display: flex;
//   justify-content: space-between;
// }
// #pageTitle {
//   margin-top: 100px;
//   font-size: 30px;
// }
// form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-top: 50px;
//   div {
//     display: flex;
//     justify-content: space-between;
//     width: 500px;
//     margin-top : 20px;
//     padding : auto 0;
//     label{
//       width : 80px;
//       margin: auto;
//     }
//     input {
//       width: 80%;
//       height: 30px;
//       border: 0;
//       border-bottom: 1px solid black;
     
//     }
//   }
//   .login-form__submit {
//     margin-top: 50px;
//     width: 100%;
//     justify-content: center;
//   }
// }

.signup_btn{
    margin-top: 50px;
    background-color: white;
    padding: 10px;
border-radius: 10px;
}