header{
    width: 80%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(72, 72, 72);
    #pageTitle{
        color: white;
    }
}