<!DOCTYPE html>
<html lang="en">
  	<head>
		<%-include('./part/head');%>
  	</head>
	<body>
		<%-include('./part/header');%>
		<section>
		<div class = "crawldata-description">
			<h4>현재 크롤링이 가능한 페이지는 아래와 같습니다.</h4>
			<% if(errorMsg){ %>
				<p><%=errorMsg %></p>
			<% } %>
			<ul>
				<li>1. 네이버 포스트</li>
				<li>2. 카카오 1boon</li>
			</ul>
		</div>
		<form method="post">
			<input type="text", placeholder="트래킹할 url을 입력하세여", required, name="crawlUrl">
			<input type="submit", value="입력하기">
		</form>
		</section>
	</body>
</html>
