<!DOCTYPE html>
<html lang="en">
  	<head>
		<%-include('./part/head');%>
  	</head>
	<body>
		<%-include('./part/header');%>
		<section>
		<form method="post">
			<input type="text", placeholder="트래킹할 url을 입력하세여", required, name="crawlUrl">
			<input type="submit", value="입력하기">
		</form>
		</section>
	</body>
</html>
