<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./part/header');%>
  </head>
  <body>
    <nav id="navigation_bar">
      <ul class="menu_list">
        <a class="menu_list summary"><li>Summary</li></a>
        <a class="menu_list naver"><li>Naver</li></a>
        <a class="menu_list kakao"><li>Kakao</li></a>
      </ul>
    </nav>
    <div id="container">
      <form>
        <input type="text" placeholder="ID" />
        <input type="password" placeholder="password" />
      </form>
    </div>
  </body>
</html>
