<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./part/header');%>
  </head>
  <body>
    <nav id="navigation_bar">
      <ul class="menu_list">
        <a class="menu_list summary"><li>Summary</li></a>
        <a class="menu_list naver"><li>Naver</li></a>
        <a class="menu_list kakao"><li>Kakao</li></a>
      </ul>
    </nav>
    <div id="pageTitle"><%=pageTitle%> <%=errorMsg%></div>
    <div id="container">
      <form method="post" action="/">
        <div>
          <label>ID </label>
          <input type="text" placeholder="ID" name="id" />
        </div>
        <div>
          <label>PASSWORD </label>
          <input type="password" placeholder="password" name="password" />
        </div>
        <div class="login-form__submit">
          <input type="submit" value="login" />
        </div>
      </form>
      <div class="signup_btn">
        <a href="/signup">회원가입하기</a>
      </div>
    </div>
  </body>
</html>
