<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./part/head');%>
    </head>
    <body>
        <header>
            <nav id="navigation_bar">
                <div id="pageTitle"><%=pageTitle%></div>
            </nav>
        </header>
        <div id="pageDescription">
            <% if(pageDescription){ %>
                <%= pageDescription %>
            <% } %>
        </div>
    
        <div id="container">
            <span>
                <% if(errorMsg){ %>
                    <%= errorMsg %>
                <% } %>
            </span>
            <form method="post" action="/signup">
                <!-- <div>
                    <label>profile image </label>
                    <input type="file" name="profile_img" required ="true"/>
                </div> -->
                <div>
                    <label>ID </label>
                    <input type="email" placeholder="ID" name="id" required ="true"/>
                </div>
                <div>
                    <label>PASSWORD </label>
                    <input type="password" placeholder="password" name="password" required ="true"/>
                </div>
                <div>
                    <label>Check PASSWORD </label>
                    <input type="password" placeholder="check your password" name="password2" required ="true"/>
                </div>
                <div class="login-form__submit">
                    <input type="submit" value="signup" />
                </div>
            </form>
        </div>
    </body>
</html>
