<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./part/header');%>
  </head>
  <body>
    <nav id="navigation_bar">
      <ul class="menu_list">
        <a class="menu_list summary" href="/data/summary"><li>Summary</li></a>
        <a class="menu_list naver" href="/data/naver"><li>Naver</li></a>
        <a class="menu_list kakao" href="/data/kakao"><li>Kakao</li></a>
      </ul>
    </nav>
    <div class="container">
      <div class="container-post_trend">
        <div class="container-post_lists">
          <!-- 반복문 들어가야함 -->
        </div>
        <div class="container-post_charts"></div>
      </div>
      <div class="container-post_datas">
        <div class="container-post_data-detail">
          <div class="post-img"></div>
          <div class="post-desc"></div>
          <div class="post-trend"></div>
        </div>
      </div>
    </div>
  </body>
</html>
