/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/client/scss/config/reset.css ***!
  \************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!**********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/client/scss/styles.scss ***!
  \**********************************************************************************************************************/
header {
  width: 100%;
  height: 100px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #484848; }
  header div {
    color: white;
    margin-left: 50px;
    margin-right: 50px; }

.crawl-item {
  display: flex;
  flex-direction: column;
  margin: 30px; }
  .crawl-item .fa-solid {
    font-size: 50px;
    margin: auto;
    margin-bottom: 20px; }

.signup_btn {
  margin-top: 50px;
  background-color: white;
  padding: 10px;
  border-radius: 10px; }

.url__submit-form {
  padding: 50px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .url__submit-form .crawldata-description h4 {
    font-size: 24px;
    color: #bbbbbb;
    font-weight: 600; }
  .url__submit-form .crawldata-description ul {
    margin-top: 10px; }
  .url__submit-form form {
    padding: 10px;
    margin-top: 30px;
    align-items: center; }

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px; }

main {
  justify-content: center; }
  main .container-post_trend {
    width: 80%;
    height: 300px;
    border: solid 1px black;
    display: flex; }
  main .container-post_datas {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 30px; }
    main .container-post_datas table {
      width: 100%; }
      main .container-post_datas table tbody tr th {
        display: flex; }
        main .container-post_datas table tbody tr th .post-item__img img {
          width: 80px;
          height: 50px;
          object-fit: cover; }
        main .container-post_datas table tbody tr th .post-item__desc {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
      main .container-post_datas table tbody tr td {
        vertical-align: inherit; }
        main .container-post_datas table tbody tr td .post-item__data {
          display: flex;
          height: 100%;
          flex-direction: column; }

body {
  background-color: #777777;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%; }

